<% if current_user.admin %>
  <h1>Update course</h1>
  <html>
    <body>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_with model: @course do |f| %>

            <%= f.label :name, t(:course_name) %>
            <%= f.text_field :name, class: "form-control" %>

            <%= f.label :description, t(:course_description) %>
            <%= f.text_field :description, class: "form-control" %>

            <%= f.label :total_month, t(:course_totalmonth) %>
            <%= f.number_field :total_month, class: "form-control" %>


            <%= f.label :status, t(:course_status) %>
            <%= f.select :status, ["Opening", "Started","Finished"] %>

            <%= f.submit "Update", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </body>
  </html>
<% else %>
  <h3><%= t(:not_admin) %></h3>
<% end %>
